@import '../../utils/default';

.clickable {
  cursor: pointer;
}
  
.adjust-badge-icon-modal {
  display:inline-block;
  vertical-align:middle;
  margin-right: 5px;
}
  
.unselectable {
  cursor: default;
  @include vendorPrefix(user-select, none);
}
  
.links:visited {
  color: blue;
}