@import '../../utils/default';

.unselectable {
    cursor: default;
    @include vendorPrefix(user-select, none);
}

.creator-name {
    font-weight: bold;
    font-size: large;
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
}